#faq .question {
    border: 1px solid var(--blue);
    padding: 10px;
    box-shadow: 0 0 4px 2px var(--light);
}

#faq .quBtn {
    border: 1px solid #aaa;
    background-color: var(--light);
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

#faq .quTitle h4 {
    font-size: 14px;
    color: var(--dark);
}

#faq .answer {
    font-size: 12px;
    color: var(--dark);
    text-align: justify;
    position: relative;
    padding-top: 5px;
}

#faq .answer::before {
    content: '';
    position: absolute;
    width: 75%;
    height: 1px;
    background-color: var(--light);
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width:575px) {
    #faq .quTitle h4 {
        font-size: 13px;
    }
    #faq .answer {
        font-size: 11px;
    }
}