#navbar {
    background-color: var(--dark);
    z-index: 10 !important;
    overflow: visible !important;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#navbar,
#navbar * {
    color: #fff;
}

#navbar nav {
    font-size: 12px;
}

#navbar nav span>a {
    border: 2px solid rgb(238, 238, 238);
}

#navbar nav ul li a {
    position: relative;
    transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
}

#navbar nav ul li a:hover {
    color: var(--light-red);
    transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
}

#navbar nav span a:hover {
    border-color: var(--light-red);
    color: var(--light-red);
    transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
}

.logo>* {
    font-size: 26px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo strong {
    color: var(--light-red)
}

#navbar .left button * {
    transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
}

.left .btn {
    top: 50%;
    transform: translateY(-50%);
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}

#navbar .left button:hover * {
    color: var(--light-red);
    transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
}

@media (max-width: 767px) {
    #navbar {
        position: -webkit-sticky;
        position: sticky;
        left: 0;
        transform: translateX(0);
        box-shadow: 0 -15px 1px 12px var(--dark);
    }
    #navbar nav.mobile {
        position: absolute;
        z-index: 10;
        height: 100vh;
        border-bottom: 1px solid var(--light-red);
        background-color: var(--dark);
        transform: translateY(-100%);
        transition: .6s ease-in;
        -webkit-transition: .6s ease-in;
        -ms-transition: .6s ease-in;
        -o-transition: .6s ease-in;
    }
    #navbar nav.mobile.show {
        transform: translateY(100%);
        transition: .6s ease-in;
        -webkit-transition: .6s ease-in;
        -ms-transition: .6s ease-in;
        -o-transition: .6s ease-in;
    }
    #navbar nav.mobile ul,
    #navbar nav.mobile li,
    #navbar nav.mobile li a {
        display: block;
        width: 100%;
        text-align: center;
    }
    #navbar nav.mobile li a {
        background-color: transparent;
        transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
    }
    #navbar nav.mobile li:hover a {
        background-color: var(--light-red);
        color: #fff;
        transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
    }
    #navbar .left {
        z-index: 14;
        background-color: var(--dark);
    }
}

@media (min-width: 768px) {
    #navbar nav ul li a::after {
        content: '';
        width: 0;
        height: 1px;
        background-color: var(--light-red);
        display: block;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        transition: .3s ease-out;
    }
    #navbar nav ul li a:hover::after {
        content: '';
        width: 100%;
        transition: .3s ease-out;
    }
}