:root {
    --dark: #1e272e;
    --light-red: #ff5e57;
}

body {
    margin: 0;
    direction: rtl;
}

* {
    font-family: 'IranYekan';
    text-decoration: none;
    list-style: none;
}

.header {
    background-color: var(--dark);
}

section {
    padding: 20px 0 !important;
}

a {
    text-decoration: none !important;
}