:root {
    --dark: #1e272e;
    --light: #d2dae2;
    --light-red: #ff5e57;
    --yellow: #ffa801;
    --light-yellow: #ffc048;
    --blue: #0fbcf9;
    --orange: #ffa801;
    --purple-blue: #3c40c6;
    --cyan: #00d8d6;
    --light-blue: #4bcffa;
}

body {
    margin: 0;
    direction: rtl;
}

* {
    font-family: 'IranYekan';
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

.App {
    direction: ltr;
}

.main {
    direction: rtl;
}

.headerBox {
    background-color: var(--dark);
    padding-top: 60px;
}

section {
    padding: 20px 0 !important;
    overflow: hidden !important;
}

a {
    text-decoration: none !important;
}

.hr {
    height: 1px;
    background-color: var(--light);
    width: 100%;
}

.hr-25 {
    width: 25%;
}

.hr-50 {
    width: 50%;
}

.hr-75 {
    width: 75%;
}

.hr-100 {
    width: 100%;
}

.hr-light {
    background-color: var(--light);
}

.titleBox .title .icon {
    color: var(--light-red) !important;
}

.titleBox .title {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 15px;
    color: var(--dark);
}

.titleBox .title::after {
    content: '';
    display: block;
    height: 2px;
    width: 150px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 0;
    background-color: var(--dark);
}

.titleBox .under-title {
    font-size: 11px;
}

@media (min-width:768px) {
    .headerBox {
        background: url('../public/imgs/header-bg.png') var(--dark);
        background-repeat: repeat-y;
    }
}